<div class="title-wrapper {{ class }}">
    {% if sub_title is not empty %}
        <h3 class="title">{{ main_title|raw }}</h3>
        <p class="subtitle">{{ sub_title|raw }}</p>
    {% else %}
        <h3 class="title nosubtitle">{{ main_title|raw }}</h3>
    {% endif %}
</div>