<div class="{{ class }}">
    {% if image is not empty %}
       <div class="image-box">
		<img alt="" src="{{ image }} ">
	   </div>
    {% endif %}
	{% if icon is not empty %}
       <div class="icon-box">
		<i class="{{ icon }}"></i>
	   </div>
    {% endif %}
    <div class="box-content-wrapper">
    {% if  title is not empty %}
        <h3 class="box-title">{{ title }}</h3>
    {% endif %}
    {% if  content is not empty %}
        <div class="box-content">
            {{ content | raw }}
        </div>
    {% endif %}
	{% if link_text is not empty %}
		<div class="more-link">
			<a href="{{ link }}" class="read-more">{{ link_text }}</a>
		</div>
	{% endif %}
    </div>
</div>