{#
/**
 * @file
 * Theme override for the search form block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values, including:
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: A list HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template. Includes:
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-search',
  ]
%}
<div {{ attributes.addClass(classes) }}>
	<span class="fa fa-search search-toggle"></span>
	<div class="search-form-block-wrapper">
	 <div class="search-form-block-inner">
		<div>
		  {{ title_prefix }}
		  {% if label %}
			<h2{{ title_attributes }}>{{ label }}</h2>
		  {% endif %}
		  {{ title_suffix }}
		  {% block content %}
			{{ content }}
		  {% endblock %}
		</div>
	  </div>
	</div>
</div>