{% if links -%}
  {%- if links|length == 1 -%}
    {# show only alternate language button #}
    {{ (links|first).link }}
  {%- else -%}
    {# show selected language in button and other languages in drop down #}
    <button class="dropdown-toggle" type="button" data-toggle="dropdown">{{ links['activeLink'].text }} <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for key, item in links %}
        {% if key is not same as("activeLink") %}
          <li>{{ item.link }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endif %}