.block {
	position: relative;
	h2.block-title {
		margin-top: 24px;
		margin-bottom: 34px;
		padding-bottom: 14px;
		letter-spacing: 0.2px;
		position: relative;
		color: #333;
		font-size: 35px;
		font-weight: 700;
		&:after {
			width: 35px;
			height: 3px;
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			background-color: @base_color_opposite;
			.border-radius(2px, 2px, 2px, 2px);
		}
	}
	&.center-title {
		.block-title {
			text-align:center;
			&:after {
				left:50%;
				bottom: 0;
				margin-left:-17.5px;
			}
		}
	}
}

.block-overlay {
	position: relative;
	color: #eeeeee;
	.block-overlay-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: @base_color;
	}
}

.bg-dark {
	background-color:#222;
	.title {
		color: #FFF;
	}
	p {
		color: #9f9f9f;
		font-size: 14px;
		line-height: 25px;
	}
}
.bg-primary-color {
	background-color: @base_color;
}
.bg-gray {
	background-color: #f6f6f6;
}
.white-text {
	color: #FFF;
}
.region-sidebar_first, .region-sidebar_second {
	.block {
		margin-bottom:40px;
	}
	.block-title {
		font-size: 20px;
		color: #333;
		font-weight: 700;
		padding-bottom: 10px;
		position: relative;
		margin-bottom: 19px;
		margin-top: 17px;
	}
}
