.article-item {
  .media {
    margin-bottom:20px;
    img {
      width:100%;
      height:auto;
    }
  }
  .article-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 5px;
    a {
      color: #333;
      .transition(all,300ms,ease-out);
      &:hover {
        color: @base_color;
      }
    }
  }
  ul.article-meta {
    margin-bottom: 20px;
    list-style:none;
    padding:0;
    li {
      font-size: 12px;
      display:inline-block;
      &.meta-date {
        padding-left: 22px;
        margin-right: 38px;
        background-image: url(../images/common/icon-clock02.gif);
        background-repeat: no-repeat;
        background-position: 0 40%;
      }
      &.meta-categories {
        font-size: 12px;
        padding-left: 22px;
        margin-right: 30px;
        background-image: url(../images/common/icon-edit.gif);
        background-repeat: no-repeat;
        background-position: 0 40%;
        > div > div {
          display:inline-block;
          &:after {
            content: ",";
          }
          &:last-child {
            &:after {
              content: "";
            }
          }
        }
        h2 {
          margin:0;
        }
        a {
          font-size: 12px;
           color: #535353;
          font-weight:normal;
        }
      }
    }
  }
  .readmore a {
    display: inline-block;
    margin-top: 16px;
    letter-spacing: 0.2px;
    padding-right: 26px;
    font-size: 14px;
    font-weight: 600;
    &:after {
      content:"\f178";
      font-family: FontAwesome;
      color: @base_color;
      margin-left:10px;
    }
  }
  &.teaser2 {
    .article-title {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 14px;
      margin-top: 2px;
    }
    .media {
      position:relative;
      p.date {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 14px 15px 11px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        background-color: @base_color;
        span {
          display: block;
          font-size: 18px;
        }
      }
    }
  }
  .sharethis-wrapper {
    text-align:right;
    margin:30px 0;
  }
}

.comment-form {
  label {
    display:none;
  }
  .js-form-type-textfield , .js-form-type-email {
    width:50%;
    float:left;
    margin-bottom:20px;
    input {
      width:100%;
    }
  }
  .js-form-type-textfield {
    padding-right:10px;
  }
  .js-form-type-email {
    padding-left:10px;
  }
  .field--name-comment-body {
    clear:both;
  }
}