a {
  text-decoration: none !important;
  .transition(all,0.3s,ease-in-out);
  &:hover {
    text-decoration: none !important;
  }
}
img {
  max-width:100%;
  height:auto;
}

.full-width {
  width:100%;
}
.mt-0 {
  margin-top:0;
}
.mt-10 {
  margin-top:10px;
}
.mt-20 {
  margin-top:20px;
}
.mt-30 {
  margin-top:30px;
}
.mt-40 {
  margin-top:40px;
}
.mt-50 {
  margin-top:50px;
}
.mt-140 {
  margin-top:140px;
}
.mb-0 {
  margin-bottom:0;
}
.mb-10 {
  margin-bottom:10px;
}
.mb-20 {
  margin-bottom:20px;
}
.mb-30 {
  margin-bottom:30px;
}
.mb-40 {
  margin-bottom:40px;
}
.mb-50 {
  margin-bottom:50px;
}
.mb-100 {
  margin-bottom:100px;
}
.mr-10 {
  margin-right:10px;
}
.mr-20 {
  margin-right:20px;
}
.mr-30 {
  margin-right:30px;
}
.mr-40 {
  margin-right:40px;
}
.mr-50 {
  margin-right:50px;
}
.ml-10 {
  margin-left:10px;
}
.ml-20 {
  margin-left:20px;
}
.ml-30 {
  margin-left:30px;
}
.ml-40 {
  margin-left:40px;
}
.ml-50 {
  margin-left:50px;
}
.padd-top-10 {
	padding-top:10px;
}
.padd-top-20 {
	padding-top:20px;
}
.padd-top-30 {
	padding-top:30px;
}
.padd-top-40 {
	padding-top:40px;
}
.padd-top-50 {
	padding-top:50px;
}
.padd-top-60 {
  padding-top:60px;
}
.padd-top-70 {
  padding-top:70px;
}
.padd-top-100 {
  padding-top:100px;
}
.padd-bottom-10 {
  padding-bottom:10px;
}
.padd-bottom-20 {
  padding-bottom:20px;
}
.padd-bottom-30 {
  padding-bottom:30px;
}
.padd-bottom-40 {
  padding-bottom:40px;
}
.padd-bottom-50 {
  padding-bottom:50px;
}
.padd-bottom-60 {
  padding-bottom:60px;
}
.padd-right-0 {
	padding-right:0;
}
.padd-left-0 {
  padding-left:0;
}
.padd-rl-0 {
  padding-left:0;
  padding-right:0;
}
.padd-10 {
  padding:10px;
}
.padd-20 {
  padding:20px;
}
.padd-30 {
  padding:30px;
}
.padd-40 {
  padding:40px;
}
.italic {
  font-style: italic;
}
.upper {
 text-transform:uppercase;
}
.separator {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
/* ---------- Override pager style ---------------*/
.pager {
  ul {
    padding-left:0;
    text-align:left;
    li {
      a {
        border-color: #dfdfdf;
        .border-radius(0, 0, 0, 0);
        color: #333;
        .transition(all, 300ms, ease-out);
        &:hover {
          color: @base_color_opposite;
          background: unset;
        }
      }
      &.is-active {
        a {
          border: solid 2px @base_color_opposite;
          color: @base_color_opposite;
        }
      }
    }
  }
}