button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 15px 30px 12px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  background-color: @base_color;
  color: #fff;
  .border-radius(3px,3px,3px,3px);
  .transition(all,0.3s);
  border:0;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #133974;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  background: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  color: #727272;
  background-color: #fff;
  height: 53px;
  padding: 15px 20px;
 .transition(all,0.3s,ease-in-out);
  border: 1px solid #ccc;
  .border-radius(5px,5px,5px,5px);
}
select.error,
textarea.error,
.contact-form .textarea-message textarea.error,
input[type="text"].error,
input[type="email"].error {
  border: 1px solid #ba330a;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input, button, select, textarea {
  font-family: "Poppins",sans-serif;
}
select::-ms-expand {
  display: none;
}
textarea {
  width: 100%;
  height: 148px;
  padding: 15px 20px;
}
input[type="checkbox"] {
  display: inline;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9c9b9b;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #9c9b9b;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9c9b9b;
}
label.error {
  display: none !important;
}

@-webkit-keyframes pop-scale { 0% { -webkit-transform: scale(0.7) } 100% { -webkit-transform: scale(1) } }@-moz-keyframes pop-scale { 0% { -moz-transform: scale(0.7) } 100% { -moz-transform: scale(1) } }@keyframes pop-scale { 0% { transform: scale(0.7) } 100% { transform: scale(1) } }
@-webkit-keyframes pop-scale2 { 0% { -webkit-transform: scale(0.5) } 100% { -webkit-transform: scale(1) } }@-moz-keyframes pop-scale2 { 0% { -moz-transform: scale(0.5) } 100% { -moz-transform: scale(1) } }@keyframes pop-scale2 { 0% { transform: scale(0.5) } 100% { transform: scale(1) } }

/*-------------------------------------------------------------
    Elements
-------------------------------------------------------------*/
ul.icon-list {
  list-style: none;
  li {
    position: relative;
    padding-left: 21px;
    margin-bottom: 16px;
    line-height: 23px;
    &:before {
      display: inline-block;
      position: absolute;
      left: -6px;
      top: -3px;
      width: 25px;
      height: 25px;
      padding-top: 2px;
      content: "\f121";
      text-align: center;
      font-family: "Ionicons";
      font-size: 13px;
      color: #fff;
      background-color: @base_color;
      background-position: top;
      .border-radius(50%,50%,50%,50%);
      .scale(0.6);
    }
  }
}
/*-------------------------------------------------------------
    Override CONTROL NEXT/PRE and Pager control
-------------------------------------------------------------*/
.bx-wrapper {
  .bx-pager {
    .bx-pager-item {
      a {
        width: 12px;
        height: 12px;
        border: solid 2px #bbb;
        background: transparent;
        .border-radius(50%,50%,50%,50%);
        &.active,&:hover {
          border-color: #1f1f1f;
          background: transparent;
        }
      }
    }
  }
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -50px;
  width: 100%;
}

.title-description {
  padding-bottom: 50px;
}
.title-post {
  font-size: 20px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 13px;
  a {
    color: #333;
  }
}