#section-navigation {
  background-color: @base_color;

  #superfish-main {
    > li.sf-depth-1 {
      &:after {
        width: 0;
        height: 3px;
        position: absolute;
        content: "";
        bottom: 0;
        left: 9px;
        background-color: @base_color_opposite;
        .transition(all,0.5s);
      }
      > a {
        position: relative;
        display: block;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        height: 65px;
        line-height: 66px;
        padding: 0 24px;
        outline: none;
        font-weight: 300;
        letter-spacing: 0.2px;

      }
      &:hover, &.active-trail {
        &:after {
          width: 80%;
        }
      }
      ul {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: @base_color;
        z-index: 9999;
        li {
          a {
            display: block;
            color: #fff;
            font-size: 14px;
            line-height:22px;
            text-decoration: none;
            border-top: 1px dashed rgba(255,255,255,0.30);
            padding: 10px 15px;
            .transition(all,.2s,ease-out);
            &:hover {
              color: @base_color_opposite;
            }
          }
        }
      }
    }
  }
  &.inv-sticky.fixed {
    background-color: rgba(red(@base_color), green(@base_color), blue(@base_color), 0.9);
    #superfish-main {
      > li.sf-depth-1 {
       > a {
          height:50px;
          line-height:50px;
        }
      }
    }
    .get-appointment {
      a {
        line-height:50px;
      }
    }
  }
}
#superfish-main-accordion {
  background:#1d3f73;
  position: absolute;
  z-index:1001;
  margin-top:44px;
  li {
    border-top: 1px dashed rgba(255,255,255,0.3);
    a {
      text-decoration: none;
      height: 45px;
      line-height: 45px;
      padding: 0 15px;
      color: #fff;
      &:hover {
        color: @base_color_opposite;
      }
    }
    &.active-trail {
      a {
        color: @base_color_opposite;
      }
    }
    &.sf-depth-2 {
      a {
        padding-left:35px;
      }
    }
    &.menuparent {
      &:before {
        position: absolute;
        right: 0;
        top: 0;
        font: 20px/50px 'FontAwesome';
        text-align: center;
        cursor: pointer;
        width: 45px;
        height: 45px;
        content: "\f107";
        color: #fff;
      }
      &.sf-expanded {
        &:before {
          position: absolute;
          right: 0;
          top: 0;
          font: 20px/50px 'FontAwesome';
          text-align: center;
          cursor: pointer;
          width: 45px;
          height: 45px;
          content: "\f106";
          color: #fff;
        }
      }
    }
    .sf-clone-parent {
      display:none;
    }
  }
}
#superfish-main-toggle span {
  width:30px;
  margin: 10px 15px 10px 0px;
  float:right;
  text-indent:-9999px;
  color: #FFF;
  display:block;
  background:url(../images/icon-toggle.png) @base_color right center no-repeat;
}
@media only screen and (max-width: 768px) {
  .region-navigation {
    padding:0;
  }
}

.region-sidebar_first {
  nav {
    margin-bottom: 42px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          display: block;
          padding: 15px 20px 11px 20px;
          margin-bottom: 2px;
          color: #333;
          font-weight: 700;
          background-color: #f0f0f0;
          &.is-active {
            padding-left: 16px;
            border-left: 4px solid @base_color;
          }
          &:hover {
            background-color: #f9f9f9;
          }
        }
      }
    }
  }
}

.get-appointment {
  margin:0;
  float:right;
  a {
    height: 100%;
    line-height: 65px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    background-color: darken(@base_color,20%);
    padding: 0 30px;
    &:hover {
      color: @base_color_opposite;
    }
  }
}