/********************* Service view **********************/
.view-services {
  img  {
    width:100%;
    height:auto;
  }
  .service-title {
    margin-top: 32px;
    margin-bottom: 13px;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    a {
      color: #333;
      &:hover {
        color: @base_color;
      }
    }
  }
  &.style-slide {
    .service-title {
      padding: 0 14px;
    }
    .service-feature {
      ul {
        list-style: none;
        padding: 0 14px;
        li {
          position: relative;
          padding-left: 22px;
          margin-bottom: 11px;
          &:before {
            display: inline-block;
            position: absolute;
            left: -6px;
            top: -2px;
            width: 25px;
            height: 25px;
            padding-top: 2px;
            content: "\f121";
            text-align: center;
            font-family: "Ionicons";
            font-size: 13px;
            color: #fff;
            background-color: @base_color;
            background-position: top;
            .border-radius(50%, 50%, 50%, 50%);
            .scale(0.6);
          }
        }
      }
    }
  }
}

/********************* Service detail **********************/
h3.service-title {
  font-size:20px;
  font-weight:700;
}
.box-download {
  background-color: @base_color;
  .border-radius(3px,3px,3px,3px);
  margin-top: 35px;
  margin-bottom: 57px;
  padding: 15px 40px 25px;
  letter-spacing: 0.2px;
  h3 {
    margin-bottom: 42px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .btn-download {
    a {
      position: relative;
      display: block;
      width: 100%;
      color: #333;
      background-color: #fff;
      padding: 15px 25px 11px;
      font-size: 15px;
      font-weight: 500;
      border-radius: 3px;
      letter-spacing: -0.8px;
    }
    &.pdf {
      a {
        &:after {
          background: url(../images/common/icon_pdf.png) no-repeat;
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          top: 17px;
          right: 8px;
        }
      }
    }
    &.doc {
      a {
        &:after {
          background: url(../images/common/icon_word.png) no-repeat;
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          top: 17px;
          right: 8px;
        }
      }
    }
  }
}

.box-list {
  span {
    display:inline-block;
    margin-bottom:22px;
  }
}

.box2 .chart {
  p {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 6px;
    &.img {
      width: 55%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 27px;
      position: relative;
      top: 0;
    }
    span {
      display:block;
      margin-bottom:6px;
      img {
        margin-right: 12px;
        position: relative;
        top: -2px;
      }
    }
  }
}
  /*********************** About Us *************************/
  .company-history {
    list-style: none;
    margin-top: 57px;
    margin-bottom: 54px;
    li {
      margin-bottom:10px;
      span {
        float: left;
        width: 11%;
        font-size: 20px;
        font-weight: 700;
        margin-top: 1px;
        color: #333;
      }
      div {
        position: relative;
        float: right;
        width: 89%;
        padding-left: 44px;
        padding-bottom: 49px;
        &:before {
          content: "";
          position: absolute;
          left: -6px;
          top: 18px;
          width: 1px;
          height: 95%;
          background-color: #e3e3e3;
        }
        &:after {
          content: "";
          position: absolute;
          left: -11px;
          top: 3px;
          width: 11px;
          height: 11px;
          background-color: @base_color;
          .border-radius(50%,50%,50%,50%);
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 11px;
          color: #333;
        }
      }
    }
  }
