ul.inv-grid-filter {
  list-style:none;
  margin-bottom:40px;
  li {
    display: inline-block;
    margin-right: 26px;
    a {
      font-size: 14px;
      color: #656565;
      font-weight: 700;
      &.active {
        color: @base_color;
      }
    }
  }
}

.portfolio-item {
  img {
    width:100%;
    height:auto;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 13px;
    line-height: 24px;
    a {
      color: #333;
      .transition(all,0.3s,easa-out);
      &:hover {
        color: @base_color;
      }
    }
  }
  .portfolio-category {
    font-size: 13px;
    margin-bottom:10px;
    h2 {
      font-size:13px;
      margin:0;
    }
    a {
      color: #656565;
      font-weight: normal;
    }
  }
  &.teaser2 {
    h3 {
      margin-top:0;
      font-size:24px;
      line-height:28px;
    }
  }
  &.teaser3,&.teaser4 {
    position: relative;
    .intro {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.8);
      visibility: hidden;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      .transition(all,0.3s);
      h3 {
        position: absolute;
        bottom: 0;
        padding: 0 15px;
        a {
          color: #e6e6e6;
          font-weight: normal;
        }
      }
    }
    &:hover {
      .intro {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
      }
    }
  }
  &.teaser4 {
    .intro {
      h3 {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -55px;
        a {
          display: inline-block;
          width: 50px;
          height: 50px;
          margin: 5px;
          border: 1px solid;
          text-align: center;
          font-size: 40px;
          .transition(all,0.3s);
          color: #e6e6e6;
          font-weight: normal;
          i {
            line-height: 56px;
            .transition(all,0.3s);
          }
          &:hover {
            background: #FFF;
            i {
              color: #000;
            }
          }
        }
      }
    }
  }
  &.portfolio-detail {
    h2 {
      margin-top: 0;
      margin-bottom: 21px;
      font-size: 30px;
      font-weight: 600;
    }
    .portfolio-group {
      margin-top:46px;
      > div {
        > div {
          clear:both;
          border-bottom: 1px solid #eaeaea;
          padding-bottom: 17px;
          font-size: 14px;
          margin-bottom: 18px;
          div {
            &:first-child {
              display: inline-block;
              color: #333;
              font-weight: 500;
              &:after {
                content:":";
              }
            }
            &:last-child {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}