/* ----------------------------------------------------------------
	Box
-----------------------------------------------------------------*/
.inv-box-shortcode {
	.icon-box {
		.transform(0deg,1,0,0);
		.transition(all,.3s,ease-out);
		width: 60px;
		height: 60px;
		position: relative;
		i {
			.transition(all,.3s,ease-out);
			.middle-center();
			display: inline-block;
		}
	}
	&.box-left {
		.icon-box {
			float: left;
			i {
				display:block;
			}
		}
		.box-title {
			font-size: 14px;
			line-height: 22px;
			font-weight: 600;
			color: #333333;
			margin:0;
		}
		.box-content-wrapper {
			padding-left:65px;
			.box-content {
				font-size: 12px;
				font-weight: normal;
				color: #535353;
			}
		}
	}
	&.box-circle {
		.icon-box {
			.border-radius(50%,50%,50%,50%);
			border: 1px solid #363636;
		}
	}
	&.box-image {
		position:relative;
		.image-box {
			overflow: hidden;
			margin: 0;
			img {
				width:100%;
				.transition(all,300ms,ease-out);
			}
		}
		h3 {
			position: absolute;
			margin: 0;
			padding: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size: 18px;
			color: #fff;
			a {
				display: block;
				padding: 16px 20px;
				letter-spacing: 0.3px;
				color: #fff;
				background-color: rgba(red(@base_color),green(@base_color),blue(@base_color),0.9);
				.transition(all,300ms,ease-out);
			}
		}
		&:hover {
			img {
				 background-color: rgba(red(@base_color),green(@base_color),blue(@base_color),1);
				.scale(1.2);
			}
			h3 {
				a {
					background-color: rgba(red(@base_color),green(@base_color),blue(@base_color),1);
					color: @base_color_opposite;
				}
			}
		}
	}

	&.box-center {
		.icon-box{
			margin:0 auto;
		}
		.box-title{
			position: relative;
			text-align:center;
		}
		.box-content-wrapper{
			text-align: center;
		}
		&.text-left{
			.box-icon{margin:0;}
			.box-title{
				text-align:left;
				&:after{
					left:0;
					margin-left:0;
				}
			}
			.box-content{text-align:left;}
		}
		&.text-right{
			.box-icon{margin:0 100%;}
			.box-title{
				text-align:right;
				&:after{
					left:auto;
					right:0;
					margin-left:0;
				}
			}
		}
	}
	&.style01 {
		.icon-box {
			cursor: crosshair;
			i {
				position:relative;
				top:2px;
				font-size:55px;
				color: @base_color;
				left: 0%;
				top: 0%;
				-webkit-transform: translateX(0%) translateY(0%);
				-moz-transform: translateX(-0%) translateY(0%);
				-o-transform: translateX(0%) translateY(0%);
				-ms-transform: translateX(0%) translateY(0%);
				transform: translateX(0%) translateY(0%);
				.transition(all,300ms,ease-out);
			}
		}
		.box-title {
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 19px;
		}
		.box-content-wrapper {
			padding-left:84px;
			.box-content {
				font-size:13px;
			}
		}
		&:hover {
			.icon-box {
				i {
					.transform-rotateY(-180deg);
				}
			}
		}
	}
	&.style02 {
		.icon-box {
			width: 100px;
			height: 100px;
			background-color: #efefef;
			border: 0 none;
			i {
				display: inline-block;
				font-size: 40px;
				text-align: center;
				color: @base_color;
				.border-radius(50%,50%,50%,50%);
				.transition(all,.3s,ease-out);
			}
		}
		.box-title {
			margin-top: 35px;
			font-size: 18px;
			font-weight: 600;
			margin-bottom:13px;
		}
		.box-content-wrapper {

		}
		.more-link {
			a {
				display: inline-block;
				position: relative;
				margin-top: 14px;
				padding-right: 15px;
				font-size: 14px;
			}
		}
		&:hover {
			.icon-box {
				background: @base_color_opposite;
				-webkit-transform: rotateY(-180deg);
				-ms-transform: rotateY(-180deg);
				transform: rotateY(-180deg);
				i {
					color: #fff;
				}
			}
		}
	}
	&.style03 {
		.icon-box {
			width: 45px;
			height: 45px;
			border: 2px solid #363636;
			i {
				font-size: 21px;
			}
		}
	}
	&.style04 {
		.icon-box {
			width: 100px;
			height: 100px;
			background-color: #f7f7f7;
			border: 0 none;
			i {
				display: inline-block;
				font-size: 40px;
				text-align: center;
				color: @base_color_opposite;
				.border-radius(50%,50%,50%,50%);
				.transition(all,.3s,ease-out);
			}
		}
		.box-title {
			margin: 10px 0;
			font-size: 18px;
			line-height:26px;
		}
	}
	&.box-hover {
		overflow: hidden;
		position: relative;
		min-height: 290px;
		border: 1px solid #f2f2f2;
		margin-bottom: 20px;
		cursor: pointer;
		box-shadow: 0 0 20px 0 #ececec;
		background-color: @base_color;
		text-align:center;
		.mask-top {
			width: 100%;
			background-color: #ffffff;
			padding: 70px 0;
			position: absolute;
			top: 0px;
			.transition(all,0.3s,ease-out);
			i {
				font-size: 65px;
				line-height: 75px;
			}
			h4 {
				font-size: 20px;
				margin-top: 25px;
				position: relative;
				&:before {
					top: -18px;
					content: "";
					display: block;
					height: 2px;
					left: 0;
					right: 0;
					margin: -2px auto;
					position: absolute;
					width: 40px;
					background-color: @base_color;
				}
				a {
					color: #333;
					font-weight:normal;
				}
			}
		}
		.mask-bottom {
			color: #333333;
			padding: 20px 15px 20px 15px;
			width: 100%;
			position: absolute;
			bottom: -300px;
			height: 100%;
			.transition(all,0.3s,ease-out);
			i {
				font-size: 38px;
				line-height: 50px;
			}
			h4 {
				margin: 15px 0px 17px;
				color: #fff;
				a {
					color: #fff;
				}
			}
		}
		&:hover {
			.mask-top {
				top: -200px;
				.transition(all,0.3s,ease-out);
			}
			.mask-bottom {
				bottom: 0;
				color: #fff;
				background: @base_color;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Icon shortcode
-----------------------------------------------------------------*/

.inv-icon {
	display:inline-block;
	&.icon-circle {
		border: 1px solid #72868a;
		.border-radius(50%,50%,50%,50%);
	}
	&.icon-color {
		color: @base_color;
	}
}

/* ----------------------------------------------------------------
	Tabs shortcode
-----------------------------------------------------------------*/
.inv-tab-wrapper {
	.nav-tabs {
		border-bottom:solid 2px @base_color;
		li {
			a {
				color: #2a455d;
			}
			&.active {
				a {
					border-color: rgba(0, 0, 0, 0.1);
					border-bottom-color: transparent;
					background: @base_color;
					color: #ffffff;
				}
			}
			&:hover {
				a {
					border-color: rgba(0, 0, 0, 0.1);
					background: #eef4ff;
				}
			}
		}
	}
	.tab-content {
		>.tab-pane {
			box-shadow: 0 1px 0 1px #eef4ff;
			margin: 0 ;
			padding: 40px;
			.border-radius(0,0,4px,4px);
		}
	}

}
@media (min-width: 900px) {
	.inv-tab-wrapper {
		&.vertical {
			.nav-tabs {
				width: 20%;
				float: left;
				border-bottom: 0 none;
				border-right: solid 2px @base_color;
				li {
					float: none;
					a {
						margin-right: 0;
						.border-radius(3px, 0, 3px, 0px);
					}
				}
			}
			.tab-content {
				width: 80%;
				float: left;
				padding-left: 30px;
			}
		}
	}
}
/* ----------------------------------------------------------------
	Title shortcode
-----------------------------------------------------------------*/
h2{
	&.title {
		position: relative;
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 60px;
		&:after {
			width: 50px;
			height: 5px;
			position: absolute;
			content: "";
			bottom: -25px;
			left: 0;
			background-color: @base_color_opposite;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
	}
}

/* ----------------------------------------------------------------
	Statistic shortcode
-----------------------------------------------------------------*/
.counter {
	.icon {
		position: relative;
		font-size: 55px;
		margin-bottom: 15px;
	}
	.stat-count {
		margin-bottom: 20px;
		font-size: 38px;
		text-align: center;
	}
	.counter-info {
		margin-top: 20px;
		font-size: 18px;
		text-align: center;
		&:before {
			content:"";
			display: block;
			width: 50px;
			height: 2px;
			margin: 0 auto;
			background: @base_color_opposite;
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

/* ----------------------------------------------------------------
	Button shortcode
-----------------------------------------------------------------*/
a.inv-button, .button {
	position: relative;
	display: inline-block;
	padding: 13px 30px;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	background-color: @base_color;
	color: #fff;
	.border-radius(4px,4px,4px,4px);
	.transition(all,0.3s);
	i {
		.transition(all,250ms,ease-in-out);
	}
	&.button-color {
		background: @base_color;
	}
	&.second-color {
		background: @base_color_opposite;
	}
	&:hover {
		color: #ffffff;
	}
}

/* ----------------------------------------------------------------
	Progress Bar
-----------------------------------------------------------------*/
.progress-bar-wrapper {
  .progress {
    height: 30px;
    background: #eef4ff;
	padding:5px;
	color: #ffffff;
    line-height: 20px;
	.border-radius(20px,20px,20px,20px);
    .progress-bar {
      background-image:unset;
      background-color: @base_color;
      .transition(width,3s,ease);
      text-align: left;
      position:relative;
	  .border-radius(20px,20px,20px,20px);
    }
    &.progress-bar-warning .progress-bar {
      background-color: #f0ad4e;
    }
    &.progress-bar-danger .progress-bar {
      background-color: #d9534f;
    }
    &.progress-bar-dark .progress-bar {
      background-color: #555566;
    }
    &.progress-bar-success .progress-bar {
      background-color: #9dd55d;
    }
    &.progress-bar-info .progress-bar {
      background-color: #22d2d2;
    }
    .pb-content-text {
      color: #fff;
      display: inline-block;
      font-size: 10px;
      margin-left: 23px;
      position: absolute;
      text-transform: uppercase;
      i {
        margin-right:10px;
      }
    }
    .pb-completed {
      font-size: 10px;
      font-style: italic;
      padding: 0 7px;
      position: absolute;
      right: 5px;
      top: 0px;
      text-align: center;
    }
  &.progress-mini {
	  overflow:visible;
	  height: 6px;
	  padding:0;
	  .pb-content-text {
		  margin-top:-22px;
		  color: #2a455d;
		  margin-left:0;
	  }
	  .pb-completed {
		  margin-top:-22px;
		  color: #2a455d;
	  }
  }
  &.progress-small {
	  overflow:visible;
	  height: 12px;
	  padding: 3px;
	  .pb-content-text {
		  margin-top: -22px;
		  color: #2a455d;
		  margin-left:0;
	  }
	  .pb-completed {
		  margin-top: -22px;
		  color: #2a455d;
	  }
    }
  }
}

/* ----------------------------------------------------------------
	Accordion
-----------------------------------------------------------------*/
.accordion, .toggle {
	.panel {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border: none;
		background: none;
		.panel-heading {
			border: 1px solid #ddd;
			padding: 0;
			background: #f5f5f5;
			.panel-title {
				a {
					display: block;
					padding: 15px;
					font-size: 14px;
					font-weight:700;
					color: #333;
					i.tm-toggle-button {
						margin: 0 5px 0 20px;
						font-style: normal;
						font-family: "fontAwesome";
						color: #333;
						width: 26px;
						height: 26px;
						text-align: center;
						position: relative;
						-webkit-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 250ms;
						transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 250ms;
						&:before, &:after {
							content: "";
							position: absolute;
							-webkit-transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 250ms;
							transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 250ms;
						}
						&:before {
							background-color: #333;
							content: "";
							height: 2px;
							width: 10px;
							top: 9px;
							left: 7px;
						}
						&:after {
							background-color: #333;
							content: "";
							height: 10px;
							width: 2px;
							top: 5px;
							left: 11px;
							opacity: 1;
							-webkit-transform: rotate(0deg);
							transform: rotate(0deg);
						}
					}
					&:not(.collapsed) {
						color: rgba(red(@base_color),green(@base_color),blue(@base_color),0.8);
						i.tm-toggle-button {
							&:before {
								opacity: 0;
								-webkit-transform: rotate(90deg);
								transform: rotate(90deg);
							}
							&:after {
								-webkit-transform: rotate(90deg);
								transform: rotate(90deg);
							}
						}
					}
					i {
						margin-right: 12px;
					}
				}
			}
		}
		.panel-body {
			border-color: #e5e5e5;
			border-style: solid;
			border-width: 0 1px 1px;
			background: #fff;
			border-top:0 none !important;
			padding:37px 35px 31px 29px;
		}
	}
}

.heading-title {
	font-size: 20px;
	color: #333;
	font-weight: 600;
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 20px;
	&:after {
		width: 40px;
		height: 4px;
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		background-color: @base_color_opposite;
		.border-radius(2px, 2px, 2px, 2px);
	}
}