/*======================Consultant Slider style=====================*/
.tp-banner .tp-caption h1 {
  font-size: 58px;
  font-weight: bold;
  color: #222;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 1px;
  transition: all 0s ease 0s;
  line-height: 75px;
  letter-spacing: 0 !important;
}
.tp-banner .tp-caption.text1 {
  font-size: 20px;
  color: #222;
  line-height: 30px;
  letter-spacing: 0.2px !important;
}
.tp-banner .tp-caption.btn01 a,
.tp-banner .tp-caption.btn02 a {
  display: inline-block;
  padding: 13px 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: @base_color;
  .border-radius(3px,3px,3px,3px);
}
.tp-banner .tp-caption.btn01 a:hover,
.tp-banner .tp-caption.btn02 a:hover {
  background-color: #244982;
}
.tp-banner .tp-caption.btn02 a {
  color: #222;
  background-color: @base_color_opposite;
}
.tp-banner .tp-caption.btn02 a:hover {
  background-color: #e5cc12;
}