body.rtl {
  ul.followus li i.inv-icon {
    margin-left:10px;
  }

  .testimonials {
    .image {
      float:right;
    }
  }

  .header-contact {
    .inv-box-shortcode.address {
      margin-left:65px;
      margin-right:auto;
    }
    .inv-box-shortcode.box-left {
      .box-content-wrapper {
        padding-right:65px;
        padding-left:unset;
      }
      .icon-box {
        float:right;
      }
    }
  }

  .get-appointment {
    float:left;
  }
  #superfish-main {
    float:right;
  }
  ul.sf-menu li {
    float:right;
  }
  .feature-box {
    .image {
      float:right;
    }
    .text {
      padding: 111px 65px 20px 114px;
    }
  }

  .inv-box-shortcode {
    &.style01 {
        .icon-box {
          float:right;
          i {
            left:auto;
            right: 0;
          }
        }
      .box-content-wrapper {
        padding-right:86px;
        padding-left:0;
      }
    }
  }
}
