body,html {
  overflow-x: hidden;
}

body {
  &.boxed {
    background-image: url("../images/common/bg_boxed.jpg");
    .inv-body-inner {
      max-width: @container_width;
      margin: 30px auto;
      background-color: rgb(255, 255, 255);
      box-shadow: rgb(127, 127, 127) 0px 0px 16px 1px;
    }
  }
}

#section-top-header {
  background-color: #f0f0f0;
  font-size: 12px;
  padding:10px 0;
}
/* Section header */
#section-header {
  padding: 45px 0 40px;
}
#section-page-title{
    position:relative;
    color:#FFF;
    //overflow:hidden;
    .region-page_title {
      .middle-center();
      z-index:1;
      margin-top:-25px;
      h1 {
        font-size: 35px;
        font-weight: 500;
        color:#FFF;
      }
    }
    .region-breadcrumb {
      position:absolute;
      bottom:0;
    }
}

.region-breadcrumb {
  ol {
    margin:0 0 0 15px;
    padding: 14px 27px 7px 16px;
    list-style: none;
    background-color: #f0f0f0;
    font-size: 12px;
    color: #656565;
    display: inline-block;
    .border-radius(5px,5px,0,0);
    li {
      display:inline-block;
      line-height:1;
      &:last-child {
        &:after {
          content:"";
        }
      }
      &:first-child {
        &:before {
          content: "\f015";
          color: @base_color;
          font-family: FontAwesome;
          font-size:15px;
        }
        a {
          margin-left:0;
        }
      }
      &:after {
        color: #656565;
        content: "\f105";
        font-family: FontAwesome;
      }
      a {
        color: #656565;
        margin: 0 15px;
      }
    }
  }
}
#section-main-content {
  margin: 70px 0 50px 0;
}
/* Section footer */
#section-footer {
  padding: 62px 0;
  background-color: #222;
  color: #757575;
  overflow: hidden;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0.3px;
  // Block title in Footer section
  .block {
    .block-title {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }
  }
  // ul in Footer region
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        color: #868686;
        font-size: 14px;
        &:hover {
          color: #FFF;
        }
      }
    }
  }
}

#section-bottom {
  padding: 30px 0 26px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #757575;
  background-color: #181818;
}