.partners {
  margin-top:-30px;
  .inv-grid-inner, .inv-grid-item-inner{
    overflow: unset !important;
  //  margin-top:-30px;
  }
  .partner-item {
    text-align:center;
    padding: 30px 30px 38px;
    -webkit-box-shadow: 0px 0px 12px 0px #ccc;
    -moz-box-shadow: 0px 0px 12px 0px #ccc;
    box-shadow: 0px 0px 12px 0px #ccc;
    .partner-image {
      margin-top:38px;
      margin-bottom:5px;
    }
    h3 {
      font-size: 18px;
      font-weight: 700;
      color: @base_color;
      margin-bottom: 1px;
    }
    .url {
      font-size: 13px;
      font-style: italic;
    }
    .description {
      margin-top:17px;
    }
  }
}

.team-member {
  img {
    width:100%;
    height:auto;
  }
  .team-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: @base_color;
    line-height:28px;
  }
  .team-position {
    margin-bottom: 17px;
    font-style: italic;
  }
  .description {
    margin-bottom:5px;
  }
  .readmore {
    a {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0;
      position: relative;
      background: none;
      color: #333;
      .transition(all,0.3s,easa-out);
      &:hover {
        color: #5a5a5a;
      }
      i {
        position: relative;
        top: 2px;
        margin-left: 9px;
        font-size: 20px;
      }
    }
  }
  &.team-flip {
    position: relative;
    width: 100%;
    height: 300px;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      .front, .back {
        background: #fff;
        border: 1px solid #f1eff0;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        -moz-transition: -moz-transition 700ms ease;
        -webkit-transition: -webkit-transition 700ms ease;
        -o-transition: -o-transition 700ms ease;
        transition: transform 700ms ease;
        .border-radius(3px,3px,3px,3px);
      }
      .front {
        text-align:center;
        height: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        .transition(all, 0.4s, ease-in-out);
        img {
          padding:3px;
        }
      }
      .back {
        background: @base_color;
        color: #fff;
        padding: 20px;
        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        .transition(all, 0.4s, ease-in-out);
        width:100%;
        height: 100%;
        .team-title {
          color: #fff;
          margin-top:0;
        }
        .inv-social-icon {
          font-size: 14px;
          color: #FFF;
          padding-right:10px;
          &:hover {
            color: @base_color_opposite;
          }
        }
        .readmore a {
          color: #FFF;
          &:hover {
            color: @base_color_opposite;
          }
        }
      }
      &:hover{
        .front{
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
        }
        .back{
          -webkit-transform: rotateX(0deg) rotateY(0deg);
          -moz-transform: rotateX(0deg) rotateY(0deg);
        }
      }
    }

  }
  &.team-detail {
    .inv-social-icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      background-color: @base_color;
      font-size: 17px;
      color: #fff;
      text-align: center;
      display: inline-block;
      margin-right:5px;
      &:hover {
        background-color: @base_color_opposite;
     }
    }
  }
}
.team-list {
  .team-member {
    .team-image {
      width: 31%;
      float: left;
      margin-right: 30px;
    }
    .readmore {
      a {
        display: inline-block;
        margin-top: 22px;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        background-color: #333;
        padding: 11px 20px 5px;
        .border-radius(3px,3px,3px,3px);
        i {
          display:none;
        }
        &:hover {
          background: @base_color;
        }
      }
    }
  }
}

.ie {
  .team-member {
    &.team-flip {

      position: relative;
      width: 100%;
      height: 300px;
      .inner {
        position: relative;
        width: 100%;
        height: 100%;
        .front, .back {
          background: #fff;
          border: 1px solid #f1eff0;
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          backface-visibility: hidden;
          overflow: hidden;
          -webkit-transform: translateZ(0);
          -moz-transition: -moz-transition 700ms ease;
          -webkit-transition: -webkit-transition 700ms ease;
          -o-transition: -o-transition 700ms ease;
          transition: transform 700ms ease;
          .border-radius(3px,3px,3px,3px);
        }
        .front {
          text-align:center;
          height: inherit;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          opacity:1;
          .transition(all, 0.4s, ease-in-out);
          img {
            padding:3px;
          }
        }
        .back {
          background: @base_color;
          color: #fff;
          padding: 20px;
          height: inherit;
          position: absolute;
          top: 0;
          -webkit-transform: scale(0.3);/* Saf3.1+, Chrome */
          -moz-transform: scale(0.3); /* FF3.5+ */
          -ms-transform: scale(0.3); /* IE9 */
          -o-transform: scale(0.3); /* Opera 10.5+ */
          transform: scale(0.3);
          opacity:0;
          .transition(all, 0.4s, ease-in-out);
          width:100%;
          height: 100%;
        }
        &:hover{
          .front{
            opacity: 0;
            -webkit-transform: scale(0.3);/* Saf3.1+, Chrome */
            -moz-transform: scale(0.3); /* FF3.5+ */
            -ms-transform: scale(0.3); /* IE9 */
            -o-transform: scale(0.3); /* Opera 10.5+ */
            transform: scale(0.3);
          }
          .back{
            opacity: 1;
            -webkit-transform: scale(1);/* Saf3.1+, Chrome */
            -moz-transform: scale(1); /* FF3.5+ */
            -ms-transform: scale(1); /* IE9 */
            -o-transform: scale(1); /* Opera 10.5+ */
            transform: scale(1);
          }
        }
      }
    }
  }
}