.testimonials {
  .image {
    float: left;
    width: 27%;
    margin: 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .text {
    display: inline-block;
    position: relative;
    top: -2px;
    float: right;
    width: 69%;
    padding-left: 4px;
    font-size: 15px;
    line-height: 28px;
    span.name {
      display: block;
      margin-top: 32px;
      font-size: 18px;
      font-weight: 600;
      color: @base_color;
    }
    span.position {
      display: block;
      font-size: 13px;
    }
  }
}
.testimonial02 {
  .text {
    margin-bottom: 40px;
    padding-right: 80px;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
  }
  .info {
    display: block;
    position: relative;
    margin-bottom: 13px;
    padding-left: 60px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #333;
    &:before {
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 0;
      width: 45px;
      height: 45px;
      padding-top: 6px;
      font-family: "Ionicons";
      color: @base_color;
      text-align: center;
      content: "\f347";
      font-size: 18px;
      border: 1px solid @base_color;
      .border-radius(50%,50%,50%,50%);
    }
    span {
      display: block;
      font-size: 13px;
      color: #656565;
      font-weight: 400;
    }
  }
}
.testimonials-sidebar {
  position: relative;
  padding: 28px 24px 24px 24px;
  border: 1px solid #ccc;
  h2.block-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    &:after {
      background-color: transparent;
    }
  }
  &:after {
    position: absolute;
    bottom: 16px;
    right: 6px;
    content: '\f11d';
    font-family: 'Ionicons';
    color: #e5e5e5;
    font-size: 60px;
  }
}
.testimonial03 {
  .text {
    font-size: 13px;
  }
  .media {
    position: relative;
    margin-top: 22px;
    clear:both;
    img {
      width:50px;
      height:50px;
      position: absolute;
      left: 0;
      .border-radius(50%,50%,50%,50%);
    }
    div {
        display: inline-block;
        min-height: 50px;
        padding-left: 65px;
        font-weight: 600;
        color: @base_color;
      em {
        font-size: 12px;
        font-style: italic;
        font-weight: 300;
        color: #b3b3b3;
        display: block;
        position: relative;
        top: -3px;
      }
    }
  }
}