/* ----------------------------------------------------------------
	 Flickr widget
-----------------------------------------------------------------*/
.innovation-flickr {
  .flickr_badge_image {
    width: 33.33%;
    float:left;
    padding: 0 7px 7px 0;
    a {
      display: block;
      position: relative;
      img {
        width: 80px;
        max-width:100%;
        height:80px;
      }
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: @base_color;
        opacity: 0;
        .transition(all,200ms,ease-in-out);
      }
      &:after {
        font-family: "FontAwesome";
        content: "\f002";
        color: #fff;
        font-size: 20px;
        opacity: 0;
        .middle-center();
        .transition(all,200ms,ease-in-out);
      }
      &:hover:before,&:hover:after {
        opacity: 0.8;
      }
    }
  }
}

/*----------------------------------------------------------------------------------
	NEWSLETTER SIGNUP
------------------------------------------------------------------------------------*/
#subcrible {
	h3 {
		font-size: 35px;
		font-weight: 600;
		color: #fff;
		line-height:28px;
	}
	p {
		font-size: 16px;
		color: #fff;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		opacity: 0.5;
	}

	.simplenews-subscriber-form {
		text-align:right;
		margin-top:20px;
		input[type="email"] {
			width: 342px;
			font-size: 12px;
			font-weight: 400;
			margin-right: 132px;
			-webkit-border-radius: 3px 0 0 2px;
			-moz-border-radius: 3px 0 0 2px;
			border-radius: 3px 0 0 2px;
		}
		.description,label {
			display:none;
		}
		input[type="submit"] {
			position: absolute;
			top: 0;
			right: 0;
			padding: 17px 28px 12px;
			text-transform: capitalize;
			border: none;
			display: inline-block;
			vertical-align: middle;
			outline: none;
			background-color: @base_color_opposite;
			font-size: 14px;
			font-weight: 700;
			color: #333;
			-webkit-border-radius: 0 2px 2px 0;
			-moz-border-radius: 0 2px 2px 0;
			border-radius: 0 2px 2px 0;
		}
		&.logged-in {
			input[type="submit"] {

			}
		}
	}

}	

/*----------------------------------------------------------------------------------
	Header Contact Information
------------------------------------------------------------------------------------*/
.header-contact {
	float: right;
	.inv-box-shortcode {
		display:inline-block;
		vertical-align: middle;
		&.address {
			margin-right:65px;
		}
	}
}

/*----------------------------------------------------------------------------------
	Top Left Block
------------------------------------------------------------------------------------*/
.top-left {
	 p {
		font-weight: 600;
		margin-right: 1px;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		color: #222222;
	}
	ul {
		display: inline-block;
		position: relative;
		list-style: none;
		vertical-align: middle;
		margin: 0;
		li {
			float: left;
			margin-left: 25px;
			a {
				color: #535353;
				&:hover {
					color: #070707;
				}
			}
		}
	}
}

/*----------------------------------------------------------------------------------
	Social header block
------------------------------------------------------------------------------------*/
.social {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:right;
	li {
		display: inline-block;
		margin-right: 18px;
		a {
			font-size:17px;
			color: #535353;;
		}
	}
}

/*----------------------------------------------------------------------------------
	Footer Information Logo
------------------------------------------------------------------------------------*/
.footer-info {
	.footer-logo {
		margin: 17px 0 34px 4px;
	}
	p.description {
		font-weight: 500;
		letter-spacing: 0.4px;
		margin-bottom: 32px;
	}
	p.phone {
		font-size: 20px;
		font-weight: 500;
		left: 24px;
		color: @base_color;
		i {
			margin-right: 20px;
			font-size:25px;
		}
		span {
			display: block;
			font-size: 14px;
			font-style: italic;
			color: #757575;
			padding-left: 35px;
		}
	}
}

/*----------------------------------------------------------------------------------
	Our Service Footer block
------------------------------------------------------------------------------------*/
ul.ourservices {
	li {
		position: relative;
		padding-left: 18px;
		margin-bottom: 10px;
		font-weight: 400;
		letter-spacing: 0.1px;
		&:before {
			content: "\f363";
			position: absolute;
			left: 0;
			top: 0px;
			font-family: "Ionicons";
			font-size: 19px;
		}
	}
}

/*----------------------------------------------------------------------------------
	Follow Us footer block
------------------------------------------------------------------------------------*/
ul.followus {
	li {
		margin-bottom: 8px;
		letter-spacing: 0;
		i.inv-icon {
			display: inline-block;
			position: relative;
			top: 2px;
			width: 10px;
			margin-right: 22px;
			font-size: 19px;
			&.ion-social-youtube {
				font-size: 15px;
			}
			&.ion-social-twitter {
				font-size: 16px;
			}
		}
	}
}

/*----------------------------------------------------------------------------------
	Business hour footer block
------------------------------------------------------------------------------------*/
.business-hour {
	span {
		display: block;
		margin-bottom: 23px;
	}
	p {
		font-weight: 600;
		margin-bottom: 12px;
	}
}


/*----------------------------------------------------------------------------------
	Finance Expert Home page
------------------------------------------------------------------------------------*/
.feature-box {
	overflow:hidden;
	.image {
		background: url(../images/pages/img_about.jpg) no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		//height:auto;
		width:50%;
		float:left;
	}
	.text {
		max-width: 820px;
		padding: 111px 20px 65px 114px;
		width:50%;
		float:left;
		background-color: #f6f6f6;
	}
	h3 {
		font-size: 40px;
		font-weight: bold;
		margin-bottom: 34px;
		span {
			display: block;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: 0.3px;
			color: @base_color;
			margin-top: 14px;
		}
	}
	p {
		padding-left: 2px;
		font-size: 15px;
		line-height: 28px;
		color: #535353;
		margin-bottom: 60px
	}
}
@media only screen and (max-width: 1199px) {
	.feature-box {
		.text {
			max-width: 820px;
			padding: 70px 20px 40px 80px;
		}
	}
}

@media screen and (max-width: 767px){
	.feature-box {
		.image {
			width: 100%;
			float: none;
			height:300px;
		}
		.text {
			width: 100%;
			float: none;
			padding: 20px 15px;
		}
		p {
			margin-bottom: 30px;
		}
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.feature-box {
		.text {
			padding: 50px 20px 25px 40px;
		}
		h3 {
			font-size: 34px;
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 30px;
		}
	}
}


/*----------------------------------------------------------------------------------
	Contact from
------------------------------------------------------------------------------------*/
#block-sitewidecontactform {
	label {
		display:block;
	}
	.form-wrapper {
		width:48%;
		float:left;
		input {
			max-width:100%;
		}
	}
	.form-item-name,.form-item-mail {
		float:right;
		width:48%;
	}
	.form-item-mail {
		clear:both;
	}
	.form-actions {
		clear:both;
	}
	input[type=text], input[type=email],select {
		width: 99.4%;
		height: 50px;
		margin-bottom: 18px;
		background-color: #2d2d2d;
		border: none;
		outline: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	#edit-preview {
		display:none;
	}
}

#block-contact-us-form {
	label{
		display:none;
	}
	input[type=text],input[type=email] {
		max-width:100%;
		margin-bottom:15px;
	}
	#edit-preview {
		display:none;
	}
}
.contact-form {
	margin-top:20px;
	input[type=text],input[type=email] {
		width:32%;
		float:left;
		margin-right:2%;
	}
	.js-form-item {
		&:last-child {
			input[type=text] {
				margin-right:0;
			}
		}
	}
	#edit-preview {
		display:none;
	}
	input[type="submit"] {
		margin-top:15px;
	}
}
.sidebar-form {
	.contact-form {
		margin-top:0px;
		input[type=text],input[type=email] {
			width:100%;
			float:unset;
		}
	}
}

@media screen and (max-width: 768px) {
	.contact-form {
		input[type=text],input[type=email] {
			width:100%;
			float:unset;
			margin-right:unset;
		}
	}
}
/* ----------------------------------------------------------------
	 Our Brochure
-----------------------------------------------------------------*/
.brochure {
	padding: 28px 18px 14px 24px;
	border: 1px solid #ccc;
	font-size: 13px;
	h3 {
		margin-top: 0;
		margin-bottom: 9px;
		font-size: 18px;
		font-weight: 600;
	}
	p {
		margin-bottom: 18px
	}
	.btn-download {
		a {
			&:after {
				background: url(../images/common/icon_pdf_white.png) no-repeat;
				content: "";
				width: 30px;
				height: 30px;
				position: absolute;
				top: 15px;
				right: 3px;
			}
		}
	}
}
/* ----------------------------------------------------------------
	 Blog Categories
-----------------------------------------------------------------*/
.blog-category {
	ul {
		list-style: none;
		li {
			padding: 13px 0 12px;
			border-bottom: 1px solid #e1e1e1;
			padding-left: 18px;
			position: relative;
			background-image: url(../images/common/icon-arrow-list.png);
			background-repeat: no-repeat;
			background-position: -2px 46%;
			h2 {
				font-size: 14px;
				margin: 0;
				a {
					color: #1e5051;
					line-height: 22px;
				}
			}
		}
	}
}

/* ----------------------------------------------------------------
	 Recent Post Sidebar
-----------------------------------------------------------------*/
.recent-post {
	ul {
		list-style:none;
		padding:0;
		li {
			clear:both;
			.views-field-field-image {
				float:left;
				margin-right:15px;
				margin-bottom:20px;
			}
			a {
				color: #333;
			}
		}
	}
}

.blog-tag {
	ul {
		list-style:none;
		padding:0;
		li {
			h2 {
				margin:0;
			}
			a {
				font-weight:normal;
				&:after {
					content: ",";
				}
			}
			&:last-child {
				a {
					&:after {
						content: "";
					}
				}
			}
		}
	}
	*:not(.contextual-links) {
		display:inline-block;
		font-size:14px;
	}

}


/* ----------------------------------------------------------------
	 Video background
-----------------------------------------------------------------*/
.big-title {
	font-size:40px;
	margin-bottom:50px;
	position:relative;
	&:after {
		width: 100px;
		height: 3px;
		content: "";
		.middle-center();
		margin-top:30px;
		background-color: @base_color_opposite;
		.border-radius(2px, 2px, 2px, 2px);
	}
}
.video-bg-short-desc {
	font-size: 22px;
	line-height:30px;
	margin-bottom:30px;
}