@media screen and (min-width: 768px){
  .region-footer_fourth {
    padding-left:0;
  }
}
@media screen and (max-width: 767px){
  .get-appointment {
    float:left;
    margin-left:15px;
    a {
      line-height: 40px;
      font-size: 11px;
      padding: 2px 10px;
    }
  }
  .block {
    h2.block-title {
      font-size: 28px;
      margin-bottom: 45px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  #section-navigation #superfish-main > li.sf-depth-1 > a {
    padding: 0 17px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .get-appointment {
    a {
      font-size: 12px;
      padding: 0 12px;
    }
  }
  #section-navigation #superfish-main > li.sf-depth-1 > a {
    padding: 0 8px;
    font-size: 15px;
  }
}

