<div class="{{ class }} box-hover">
	<div class="mask-top">
		<!-- Icon -->
		{% if icon is not empty %}
			<i class="{{ icon }}"></i>
		{% endif %}
		<!-- Title -->
		{% if title is not empty %}
			<h4><a href="{{ link }}">{{ title|raw }}</a></h4>
		{% endif %}
	</div>
	<div class="mask-bottom">
		<!-- Icon -->
		{% if icon is not empty %}
			<i class="{{ icon }}"></i>
		{% endif %}
		<!-- Title -->
		{% if title is not empty %}
			<h4><a href="{{ link }}">{{ title|raw }}</a></h4>
		{% endif %}
		<!-- Text -->
		{{ content }}
	</div>
</div>