<div class="{{ class }}">
	{% if image is not empty %}
	   <div class="image-box">
			<img alt="{{ title }}" src="{{ image }} ">
	   </div>
	{% endif %}
	{% if icon is not empty %}
	   <div class="icon-box">
			<i class="{{ icon }}"></i>
	   </div>
	{% endif %}
	{% if title is not empty %}
		<h3><a href="{{ link }}">{{ title|raw }}</a></h3>
	{% endif %}
	{% if content is not empty %}
		<div class="content-box-wrapper">
			<div class="content-box">
				{{ content | raw }}
			</div>
		{% endif %}
		{% if  link_text is not empty %}
			<div class='readmore-box'><a href='{{ link }}'><span>{{ link_text|t }}</span></a></div>
		</div>
	{% endif %}
</div>